body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    height: 32rem;
    width: 32rem;
    background: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #dbeafe;
}

h1 {
    font-size: 1.5rem;
}

.div-inputs {
    display: block;
}

#div-inputs > label, input, button, a {
    display: block;
    margin-bottom: 10px;
}

.criar-conta {
    font-size: 0.9rem;
    text-decoration: underline;
}